header {
  background-color: #E8E8E8;
  padding: 5%;
}

img {
  max-width: 80%;
  padding-left: 5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.row-icon {
  width: 10%;
}

td {
  line-height: 10%;
  font-size: calc(70% + 0.6vw);
}

.icon {
  max-width: 60%;
  padding-top: 15%;
}

#columns-container {
   width: 100%;
   padding-bottom: 60%;
   padding-top: 5%;
   color: #FA9522;
}

.contact {
  font-family: 'Raleway', sans-serif;
}

.contact a {
  text-decoration: none;
}

a {
  color: #FA9522;
}

h2 {
  font-size: calc(100% + 1.5vw);
}

#paragraph {
  font-size: calc(70% + 0.4vw);
  line-height: 170%;
  padding-bottom: 7%;
  border-bottom: solid black 1px;
}

h3 {
  color: #000000;
  font-size: calc(80% + 0.6vw);
  text-align: left;
}

#column-one {
   width: 55%;
   float: left;
}

#column-two {
   width: 45%;
   float: right;
}

footer {
  border-top: solid black 1px;
  text-align: center;
  padding: 2%;
  width: 100%;
  font-size: calc(70% + 0.4vw);
}

.main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%
}

#clear {
  clear: both;
}

@media all and (max-width: 480px) {
  #column-one, #column-two {
    display: block;
    float: none;
    width: 100%;
  }

  .main {
    padding-left: 5%;
    padding-right: 5%;
  }

  header {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
  }

  img {
    padding-left: 2%;
  }

  #columns-container {
   padding-bottom: 10%;
  }

  footer {
    padding: 0;
  }

  p {
    margin: 1%;
  }
}