header {
  background-color: #E8E8E8;
  padding: 5%;
}

img {
    max-width: 100%;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: calc(100% + 1.5vw);
}

#paragraph {
  font-family: 'Quicksand', sans-serif;
  font-size: calc(70% + 0.4vw);
  line-height: 170%;
  padding-bottom: 5%;
  border-bottom: solid black 1px;
}

.main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%
}

footer {
  border-top: solid black 1px;
  text-align: center;
  padding: 4%;
  width: 100%;
}